/* trinity color */
.tricolor1 {
	color: rgb(0,150,0) !important;
}
.tribgcolor1 {
	background-color: rgba(0, 143, 104, 1) !important;
}
.tribgcolor1rgba {
	background-color: rgba(0, 143, 104, 0.6) !important;
}
.tricolor2 {
	color: rgb(245,134,52) !important;
}
.tribgcolor2 {
	background-color: rgb(245,134,52) !important;
}
.tribgcolor3 {
	background-color: #1bbc9b;
}
.button.tribgcolor2:hover {
	background-color: rgb(0,150,0) !important;
}
.text-white {
	color: #fff !important;
}
#slider h2 {
	color: #002e5b;
}
#googleMap {
	width:100%;
	height:500px;
}
@media only screen and (max-width: 768px) {
	#slider h2 {
		font-size: 20px;		
	}
	.slider-caption {
		font-size: 15px;
	}
	#googleMap {
		height: 300px;
	}
	.swiper-slide {
		background-size: contain !important;
	}
}
.swiper_wrapper {
	height: 500px;
}
.heading-block {
	margin-bottom: 0px;
}
.heading-block::after {
	display: none;
}
.promo {
	background-color: #1F8A70;
}
.promo h3 {
	color: #fff;
}
.promo h3 span {
	color: #FFE11A;
}
.button-cta {
	background-color: rgb(245,134,52);
}
.text-red {
	color: red;
}
.iconlist li {
	margin-bottom: 5px;
}
.team:hover h4 {
	color: rgb(245,134,52);
}
.icon-orange {
	background-color: #FD7400 !important;
}
.descriptioin {
	text-align: left;
}
#dd-course {
	background-color: #fff !important;
}
#dd-course h2 {
	color: #000;
}
#dd-course h3 {
	font-size: 25px !important;
	color: #000;
}
.dd-step .i-bordered {
	line-height: 100px !important;
}
.dd-step .i-circled, .dd-step .i-bordered {
	width: 104px !important;
	height: 104px !important;
}
.process-steps li::before,
.process-steps li::after {
	border-top: 2px dashed #DDD;
	top: 60px !important;
}
.process-steps li::after {
	margin: 0 -52px 0 0 !important;
}
.process-steps li::before {
	margin-left: -52px;
}
 .table thead tr th {
	font-size: 15px;
	color: #fff;
	vertical-align: middle;
}
.table tbody tr td:first-child {
	font-weight: bold;
}
table tbody {
	color: rgb(245,134,52);
}
table tbody tr td {
	width: 15%;
}
table tbody tr:hover {
	background-color: rgb(245,134,52) !important;
	color: #fff;
}
/* custom table */

/* end */

.testimonial {
    position: relative;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    border: none;
}
.testimonial p {
	font-family: 'Open Sans';
}
#primary-menu li:hover {
	background-color: #28F2B7;
}
#on-register-success {
	display: none;
}
#on-register-error {
	display: none;
}
#dd-student {
	background-color: #099965;
	color: #fff !important;
}
/*#dd-student feature-box:hover .feature-box h3 {
	text-align: center;
	transition: all 0.3s;
} */
#dd-student .feature-box p, .feature-box h3, #dd-student h2 {
	color: #fff;
}
#dd-student h2 {
	margin: 0 auto;
	width: 500px;
	background-color: rgb(0, 150, 0);
}
#dd-student .feature-box p, .feature-box h3 {
	background-color: rgb(0, 150, 0);
	padding: 5px;
}
#dd-student .feature-box p {
	margin-top: 0;
	min-height: 85px;
}
#dd-promo1 {
	background: url('../images/bg1.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}
#dd-promo1 h2 {
	color: #fff;
}
#dd-promo1 h2 span, h2 {
	text-transform: uppercase;
	color: yellow;
}
#dd-promo1 span {
	color: #fff;
}
#dd-course .feature-box {
	background-color: #E0FAFC;
}
.dd-course-advance {
	background-color: #1bbc9b !important;
	color: #fff !important;
}
.dd-course-advance .fbox-icon i {
	 background-color: #E0FAFC;
	 border: 2px solid #1bbc9b;
	 color: #1bbc9b;
}
.dd-course-advance h3 {
	color: #fff !important;
	border-bottom-color: #fff !important;
	letter-spacing: 0;
}
.button-white {
	color: rgb(0,150,0);
}
.dd-course-advance .button-white:hover {
	background-color: rgb(0,150,0) !important;
	color: #fff;
}
.btn-last {
	background-color: #E0FAFC;
	color: #1bbc9b;
}

.content-wrap {
	padding-bottom: 0px;
}
#primary-menu ul li a {
	font-family: 'Open Sans';
	letter-spacing: 0px;
}
#register {
	/*background: url('../images/bg22.jpg') center center no-repeat;*/
	background-image: linear-gradient(to bottom, rgba(48, 150, 149, 0.81), rgba(21, 97, 131, 0.42)), url(../images/bg22.jpg);

	background-size: cover;
}
table th {
	text-align: center;
}
/* lich khai giang mobile */
.lichkg {
	padding-left: 20px;
	border-left: 7px solid;
}
.lichkg:nth-of-type(even) {
    border-color: rgb(245,134,52);
}
.lichkg:nth-of-type(odd) {
    border-color: rgb(0,150,0);
}
.lichkg h3 {
	margin-bottom: 0;
}
.lichkg:nth-of-type(odd) h3 {
	color:  rgb(0,150,0);
}
.lichkg:nth-of-type(even) h3 {
	color: rgb(245,134,52);
}
.lichkg .iconlist {
	margin-bottom: 0;
}
/* overwrite form register */
.landing-wide-form {
	background-color: rgba(255,255,255,0.3);
}
input:focus {
	border-color: rgb(0, 150, 0);
}
#copyrights {
	color: #fff;
}
